<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Pay My Buddy</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="btn btn-success btn-lg text-white" th:href="@{/index}">Pay My Buddy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"th:href="@{/transfer}">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"  th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>

    <br>

    <div class="row">
        <h1>Contacts</h1>
    </div>
    <div th:if="${param.error}" class="alert alert-danger">Invalid email</div>
    <div th:if="${param.success}" class="alert alert-success">New contact added!</div>
    <br><br>
    <div class="row">
        <h2>My contacts</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="bg-success text-white">
            <th class="text-center">Firstname</th>
            <th class="text-center">Lastname</th>
            <th class="text-center">Email</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(contacts)}">
            <td colspan="4">No contact found.</td>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.firstName}" class="text-center">Eztitxu</td>
            <td th:text="${contact.lastName}" class="text-center">Hirigoyen</td>
            <td th:text="${contact.email}" class="text-center">eztitxu.hirigoyen@mail.com</td>
            <td class="text-center">
                <a th:href="@{/transfer(id=${contact.id})}" href="#" class="btn btn-success" role="button">Pay</a>
                <a th:href="@{/contact-remove(id=${contact.id})}" href="#" class="btn btn-danger" role="button">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <div class="row">
        <h2>Add a contact</h2>
    </div>
    <div>
        <form method="post" th:action="@{/contact}" th:object="${contactInfo}">
            <label for="email" class="control-label">Email</label>
            <input id="email" type="email" class="form-control" placeholder="Enter email address"th:field="*{email}" />
            <div class="col-sm-4">
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Wrong email format</span>
            </div>
            <button type="submit" class="btn btn-primary">Add contact</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
</body>
</html>