<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <title>Pay My Buddy</title>
</head>
<body>
    <div class="container justify-content-center col-10 col-md-4 my-5">
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid Email or Password</div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-success"> You have been logged out.</div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row my-4 text-center">
                    <a class="text-uppercase fw-bold" th:href="@{/index}">
                        <span class="btn btn-lg logo text-white text-capitalize">Pay My Buddy</span>
                    </a>
                </div>
                <div class="row my-3 p-4">
                    <form method="post" th:action="@{/login}">
                        <div class="col-10 mb-5 mx-auto">
                            <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    class="form-control form-control-lg login-email"
                                    placeholder="Email"
                            />
                        </div>

                        <div class="col-10 mb-5 mx-auto">
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control form-control-lg login-password"
                                    placeholder="Password"
                            />
                        </div>
                        <div class="mb-5 text-center">
                            <input type="checkbox" name="remember-me" id="remember-me" class="form-check-input">
                            <label class="form-check-label" for="remember-me">Remember Me</label>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary col-4">Login</button>
                        </div>
                        <div class="col-12 mt-3 text-center">
                            <span>Not registered? <a th:href="@{/register}">Register here</a></span>
                        </div>
                    </form>
                    <div class="form-group mt-5 text-center">
                        <a class="btn paymybuddy text-white" th:href="@{/oauth2/authorization/google}" role="button">
                            Sign in with Google account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>