<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Pay My Buddy</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="btn btn-success btn-lg text-white" th:href="@{/index}">Pay My Buddy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/index}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/transfer}">Transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/profile}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <h1>Close account</h1>
            </div>
        </div>
        <br>
        <div th:if="${param.error}" class="alert alert-danger">An error occurred.</div>
        <div th:if="${param.balance}" class="alert alert-danger">Balance must be 0 to close account.</div>
        <div th:if="${param.success}">
            <div class="alert alert-success">It's done!</div>
        </div>
        <div th:if="${closeProfileError}" class="alert alert-danger">
            <span th:text="${closeProfileError}">Error message</span>
        </div>

        <div class="row">
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-group-item"><a th:href="@{/profile}">Profile information</a></li>
                    <li class="list-group-item"><a th:href="@{/profile_password}">Password</a></li>
                    <li class="list-group-item list-group-item-primary"><a th:href="@{/profile_close}">Close account</a></li>
                </ul>
            </div>
            <div class="col-8">
                <form method="post" th:action="@{/profile_close}" th:object="${userAccount}">
                    <div class="col-sm-12">This action is non-reversible. You won't be able to use or access this account anymore.</div>
                    <div class="col-sm-12">Are you sure? Really sure?</div>
                    <br>
                    <div class="col-sm-12">Okay then...</div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-outline-danger">Delete account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
</body>
</html>